.header {
  display: flex;
  justify-content: space-between;

  &__left {
    margin: 9px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 10px;
  }


  &__nav-menu {
    display: flex;
    width: 350px;
    vertical-align: middle;

  }

  &__link {
    list-style-type: none;
    vertical-align: middle;
    a {

      text-decoration: none;
      color: #ffffff;
    }

  }



  &__button-block {
    display: flex;

  }
}